.App {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

.container-texts {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 90%;
  align-items: center;
}

.infos {
  display: grid;
  grid-template-columns: 1fr 150px;
  width: 100%;
  border: 1px solid gray;
  padding: 0 10px 0 10px;
}

.text {
  font-weight: 700;
  color: cornflowerblue;
}

.date {
  color: gray;
}
